<section class="footer container-fluid" id="footer">
  <div class="container">
      <div class="row footer-container">
          <div class="col-sm-5 footer-intro">
              <img class="logo" src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670171980/CNPM/logo-2_xwr6pr.svg" width="152" alt="">
              <span class="align-middle">Jl. Lebak Bulus I Kav. 29 Cilandak </br> Jakarta Selatan, DKI Jakarta, Indonesia 12340</span>
              <div class="social-box">
                  <a href="">
                      <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670172158/CNPM/youtube_i9culc.svg" width="32" height="32" alt="">
                  </a>
                   <a href="">
                      <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670172150/CNPM/facebook_lhbdxs.svg" width="32" height="32" alt="">
                  </a>
                   <a href="">
                      <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670139655/CNPM/whatsapp_nvedha.svg" width="32" height="32" alt="">
                  </a>
              </div>
          </div>
          <div class="col footer-company" >
              <h4>Company Info</h4>
              <a href="">Tentang Kami</a>
              <a href="">Karir</a>
              <a href="">Blog</a>
              <a href="">Info Layanan</a>
          </div>
          <div class="col footer-branch" >
              <h4>Cabang</h4>
              <a href="">Tangerang</a>
              <a href="">Jakarta</a>
              <a href="">Surabaya</a>
              <a href="">Bekasi</a>
          </div>
          <div class="col footer-contact" >
              <h4>Company Info</h4>
              <a href="">+626564465455</a>
              <a href="">info@klinik24.com</a>
              <a href="">Telp: +5646544654</a>
          </div>
      </div>
      <div class="copy-right">
          <span>Copyright © Klinik24 2022</span>
      </div>
  </div>
</section>