{% extends 'admin/master.html' %}
{% block body %}
{% if current_user.is_authenticated %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{url_for('static', filename='js/medical_examination_create.js')}}"></script>
<div class="content">
    <div class="page-inner">
        <h4 class="page-title">Tạo phiếu khám bệnh</h4>
        <div class="row justify-content-center">
            <div class="col-xl-4">
                <div class="card doctor-form-customer">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">
                                <span>Bác sỹ: <span>{{ current_user.last_name }} {{ current_user.first_name }}</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group id-card-choice">
                                <label for="id_card_input">Tên bệnh nhân: <strong style="color: red">
                                    *</strong></label>
                                <input type="text" class="form-control" placeholder="Nhập tên bệnh nhân"
                                       class="form-control"
                                       name="id_card_input" id="name_patient_input"
                                       required></div>
                            <div class="form-group">
                                <div class="form-group id-card-choice">
                                    <label for="id_card_input">Mã phiếu khám<strong style="color: red">
                                        *</strong></label>
                                    <input type="number" class="form-control" placeholder="Nhập mã phiếu khám"
                                           class="form-control"
                                           name="id_card_input"
                                           id="medical_examination_id">
                                </div>
                                <div class="form-group id-card-choice">
                                    <label for="id_card_input">CCCD bệnh nhân<strong style="color: red">
                                        *</strong></label>
                                    <input type="number" class="form-control" placeholder="Nhập thông tin CCCD"
                                           class="form-control"
                                           minlength="10" maxlength="12" name="id_card_input" id="id_card_input"
                                           required>
                                </div>
                                <div class="form-group">

                                    <label for="symptom">Triệu chứng<strong style="color: red"> *</strong></label>
                                    <textarea class="form-control" id="symptom" rows="3" minlength="1"
                                              placeholder="Nhập thông tin các triệu chứng"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="predicted_disease">Bệnh chuẩn đoán<strong style="color: red">
                                        *</strong></label>
                                    <textarea class="form-control" id="predicted_disease" rows="3" minlength="1"
                                              placeholder="Nhập thông tin bệnh chuẩn đoán"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-tools ">
                        <div class="form-group">
                            <a href="javascript:;" class="btn btn-info btn-border btn-round btn-sm mr-2 text-center"
                               onclick=checkCustomerIdCard()>
                        <span class="btn-label">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                                Lưu thông tin phiếu
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row">
                            <div class="card-title">Danh sách thuốc cần dùng</div>
                            <div class="card-tools">
                                <label for="using_method">Mã phiếu khám
                                    <strong style="color: red">*</strong>
                                </label>
                                <input type="number" class="form-control mb-2" id="medical_examination_detail_id"
                                       placeholder="Nhập mã phiếu khám">
                                </input>
                                <a href="javascript:;" data-toggle="modal" data-target="#add_medicine_modal"
                                   class="btn btn-xs btn-secondary btn-sm" id="add_medicine">Thêm</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body stats-scroll scrollbar scrollbar-inner">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover model-list">
                                <thead>
                                <tr>
                                    <th>Thao tác</th>
                                    <th>STT</th>
                                    <th>Tên thuốc</th>
                                    <th>Số lượng</th>
                                    <th>Liều dùng</th>
                                    <th>Phương pháp sử dụng</th>
                                </tr>
                                </thead>

                                <tbody id='medicine_datas'>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade doctor-modal" id="add_medicine_modal" tabindex="-1" role="dialog"
                             aria-labelledby="add_medicine_modal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Nhập thông tin</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="add_medicine_form">
                                            <div class="form-row">
                                                <div class="col-12">
                                                    <div class="form-group medicine-name-choice">
                                                        <label for="medicine_name_input">Id của thuốc
                                                            <strong style="color: red">*</strong>
                                                        </label>
                                                        <input type="text" class="form-control"
                                                               id="medicine_name_input"
                                                               placeholder="Nhập tên thuốc" autocomplete="off"
                                                               required>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="medicine_amount">Số lượng
                                                            <strong style="color: red">*</strong>
                                                        </label>
                                                        <input type="number" class="form-control"
                                                               id="medicine_amount" value="1"
                                                               required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="dosage">Liều dùng
                                                    <strong style="color: red">*</strong>
                                                </label>
                                                <textarea class="form-control" id="dosage" rows="3"
                                                          placeholder="Nhập thông tin liều dùng"
                                                          required></textarea>
                                            </div>


                                            <div class="form-group">
                                                <label for="using_method">Phương pháp sử dụng
                                                    <strong style="color: red">*</strong>
                                                </label>
                                                <textarea class="form-control" id="using_method" rows="3"
                                                          placeholder="Nhập thông tin phương pháp sử dụng"
                                                          required></textarea>
                                            </div>


                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id='cfm_button'
                                                data-dismiss="modal" onclick="checkMedicineName()"> Xácnhận
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" class="btn btn-info btn-border btn-round btn-sm mr-2 text-center"
                       onclick=saveMedicineExaminationDetail()>
                        <span class="btn-label">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                        Thêm thông tin thuốc vào phiếu
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
    <div class="container col-xl-6">
        <h2>Kho thuốc</h2>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Ngày nhập</th>
                <th>Ngày hết hạn</th>
                <th>Mô tả</th>
            </tr>
            </thead>
            <tbody id="myTable">
            {% for medicine in medicine %}
            <tr>
                <td>{{ medicine.id }}</td>
                <td>{{ medicine.name }}</td>
                <td>{{ medicine.unit_price }}</td>
                <td>{{ medicine.import_date }}</td>
                <td>{{ medicine.expiration_date }}</td>
                <td>{{ medicine.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        <div class="col-xl-6">
            <h2>Thông tin phiếu khám</h2>
        <input class="form-control" id="examinationId" type="text" placeholder="Search..">
        <br>
            <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID Phiếu khám</th>
                <th>Tên</th>
                <th>Họ</th>
                <th>Triệu chứng</th>
                <th>Chuẩn đoán</th>
                <th>Ngày nhập phiếu</th>
            </tr>
            </thead>
            <tbody id="examinationTable">
            {% for medical_examination in medical_examination %}
            <tr>
                <td>{{ medical_examination.id }}</td>
                <td>{{ medical_examination.patient.first_name }}</td>
                <td>{{ medical_examination.patient.last_name }}</td>
                <td>{{ medical_examination.symptom }}</td>
                <td>{{ medical_examination.predicted_disease }}</td>
                <td>{{ medical_examination.date_created }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

</div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

$(document).ready(function(){
  $("#examinationId").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#examinationTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});


</script>
{% endif %}

{% endblock %}