{% extends 'layout/base.html' %}

{% block content %}
    <section class="container" id="headpage">
        <div class="headpage-content">
            <div class="content-body">
                <h4>Klinik 24 siap melayani keluhan masyarakat selama 24/7.</h4>
                <p>Rumah sakit adalah bagian integral dari suatu organisasi sosial dan kesehatan dengan fungsi menyediakan pelayanan paripurna (komprehensif).</p>
                <button class="btn-cus"><span>Hover me!</span></button>
            </div>
            <img class="img-body rounded" src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670134402/CNPM/img-body_ntfyil.svg" alt="img-body">
        </div>
    </section>

    <section class="container-fluid" id="banner">
        <div class="banner-content container">
            <h3>Partner & Friend</h3>
            <div>
                <a href="#">
                    <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670137530/CNPM/partner-1_pf5kcx.svg" alt="">
                </a>
                <a href="#">
                    <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670137530/CNPM/partner-2_ekmzmk.svg" alt="">
                </a>
                <a href="#">
                    <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670137530/CNPM/partner-3_pmnbfi.svg" alt="">
                </a>
                <a href="#">
                    <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670137530/CNPM/partner-4_awangb.svg" alt="">
                </a>
                <a href="#">
                    <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670137530/CNPM/partner-5_jke0vo.svg" alt="">
                </a>
            </div>
        </div>
    </section>


    <section class="container" id="feature">
        <div class="feature-content">
            <h3>Daftar Layanan</h3>
            <p>Rumah sakit adalah bagian integral dari suatu organisasi sosial dan kesehatan dengan fungsi menyediakan pelayanan paripurna (komprehensif).</p>
        </div>
        <div class="feature-boxes">
            <div class="feature-box">
                <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670139371/CNPM/feature-icon_schew4.svg" alt="">
                <h3>Apotek 24 Jam</h3>
                <p>Toko tempat meramu dan menjual obat berdasarkan resep dokter serta memperdagangkan barang medis</p>
                <button class="btn btn-custom" type="submit">
                <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670139655/CNPM/whatsapp_nvedha.svg" width="24" height="24" alt=Đăng ký khám>
                <span class="btn-text">Reservasi</span>
                </button>
            </div>

             <div class="feature-box">
                <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670139371/CNPM/feature-icon-2_ejcokr.svg" alt="">
                <h3>Apotek 24 Jam</h3>
                <p>Toko tempat meramu dan menjual obat berdasarkan resep dokter serta memperdagangkan barang medis</p>
                <button class="btn btn-custom" type="submit">
                <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670139655/CNPM/whatsapp_nvedha.svg" width="24" height="24" alt=Đăng ký khám>
                <span class="btn-text">Reservasi</span>
                </button>
            </div>

             <div class="feature-box">
                <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670139371/CNPM/feature-icon-3_m0cjlv.svg" alt="">
                <h3>Apotek 24 Jam</h3>
                <p>Toko tempat meramu dan menjual obat berdasarkan resep dokter serta memperdagangkan barang medis</p>
                <button class="btn btn-custom" type="submit">
                <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670139655/CNPM/whatsapp_nvedha.svg" width="24" height="24" alt=Đăng ký khám>
                <span class="btn-text">Reservasi</span>
                </button>
            </div>
        </div>
        <!--  FEATURE ONE      -->
        <div class="feature-description">
            <img class="rounded" src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670140882/CNPM/feature-img_ptkn2h.svg" alt="">
            <div class="feature-des-box">
                <h3>Pelayanan terbaik dari parah Ahli Medis</h3>
                <p>Rumah sakit adalah bagian integral dari suatu organisasi sosial dan kesehatan dengan fungsi menyediakan pelayanan paripurna (komprehensif).</p>
                <button class="btn btn-custom" type="submit">
                <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670139655/CNPM/whatsapp_nvedha.svg" width="24" height="24" alt=Đăng ký khám>
                <span class="btn-text">Reservasi</span>
                </button>
            </div>
        </div>
        <!--     END FEATURE ONE      -->
        <!--  FEATURE TWO      -->
        <div class="feature-description">
            <div class="feature-des-box">
                <h3>Pelayanan terbaik dari parah Ahli Medis</h3>
                <p>Rumah sakit adalah bagian integral dari suatu organisasi sosial dan kesehatan dengan fungsi menyediakan pelayanan paripurna (komprehensif).</p>
                <button class="btn btn-custom" type="submit">
                <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670139655/CNPM/whatsapp_nvedha.svg" width="24" height="24" alt=Đăng ký khám>
                <span class="btn-text">Reservasi</span>
                </button>
            </div>
            <img class="rounded" src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670158822/CNPM/feature-img-2_jbj9ez.svg" alt="">
        </div>
        <!--     END FEATURE TWO      -->
    </section>

    <section class="container" id="order">
        <div class="order-content">
            <h3>Reservasi Pelayanan kami sekarang</h3>
            <p>Rumah sakit adalah bagian integral dari suatu organisasi sosial dan kesehatan dengan fungsi menyediakan pelayanan paripurna (komprehensif).</p>
            <div class="oder-button">
                <button class="btn btn-custom-2" type="submit">
                    <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670159571/CNPM/calendar_s6egwj.svg" width="24" height="24" alt=Đăng ký khám>
                    <span class="btn-text">Cek Jadwal Dokter</span>
                </button>
                 <button class="btn btn-custom-3" type="submit">
                    <img src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670160869/CNPM/whatsapp-2_ssxwu1.svg" width="24" height="24" alt=Đăng ký khám>
                    <span class="btn-text">Reservasi</span>
                </button>
            </div>
        </div>
    </section>

    <section class="container" id="feedback">
        <div class="feedback-content">
            <h3>Testimonial by Pasien</h3>
            <p>Rumah sakit adalah bagian integral dari suatu organisasi sosial dan kesehatan dengan fungsi menyediakan pelayanan paripurna (komprehensif).</p>
        </div>
        <div class="feedback-boxes d-flex flex-wrap">
            <div class="feedback-box">
                <p class="feedback-text">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <div class="feedback-patient">
                    <img class="feedback-avt" src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670168517/CNPM/patient-feedback_gcytho.png" width="72" height="72" alt="">
                    <div class="feedback-box-user">
                        <h4 class="feedback-name">Rifki Abdurachman</h4>
                        <span class="feedback-intro">Product Designer</span>
                    </div>
                </div>
            </div>
            <div class="feedback-box">
                <p class="feedback-text">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <div class="feedback-patient">
                    <img class="feedback-avt" src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670168517/CNPM/patient-feedback_gcytho.png" width="72" height="72" alt="">
                    <div class="feedback-box-user">
                        <h4 class="feedback-name">Rifki Abdurachman</h4>
                        <span class="feedback-intro">Product Designer</span>
                    </div>
                </div>
            </div>
            <div class="feedback-box">
                <p class="feedback-text">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <div class="feedback-patient">
                    <img class="feedback-avt" src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670168517/CNPM/patient-feedback_gcytho.png" width="72" height="72" alt="">
                    <div class="feedback-box-user">
                        <h4 class="feedback-name">Rifki Abdurachman</h4>
                        <span class="feedback-intro">Product Designer</span>
                    </div>
                </div>
            </div>
            <div class="feedback-box">
                <p class="feedback-text">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <div class="feedback-patient">
                    <img class="feedback-avt" src="https://res.cloudinary.com/djmsbhhnn/image/upload/v1670168517/CNPM/patient-feedback_gcytho.png" width="72" height="72" alt="">
                    <div class="feedback-box-user">
                        <h4 class="feedback-name">Rifki Abdurachman</h4>
                        <span class="feedback-intro">Product Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
      <i class="fas fa-arrow-up"></i>
    </button>


{% endblock %}