{% extends 'layout/base.html' %}
{% block content %}
{% if current_user.is_authenticated %}
<script src="{{url_for('static', filename='js/create_patient.js')}}"></script>
<div class="container">
 <h2 class="text-center mb-5" style="color:#4184f7">Đăng ký khám bệnh</h2>
 <div class="content">
    <div class="page-inner">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="card mb-6">
                    <div class="card-header" style="background: #a1e1ff;">
                        <div class="card-title text-center"><h6 class="pt-2" style="font-size: 20px;">Thông tin đăng ký</h6></div>
                    </div>
                    <div class="card-body">
                        <div class="form-group form-show-validation row mb-3">
                            <label for="id_card_input" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">CCCD<span
                                    class="required-label">*</span></label>

                            <div class="col-lg-8 col-md-9 col-sm-8">
                                <input type="text" class="form-control" id="id_card_input" name="id_card"
                                       placeholder="Nhập căn cước công dân khách hàng..." required>
                            </div>
                        </div>
                        <div class="form-group form-show-validation row mb-3">
                            <label for="last_name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Họ và tên
                                đệm <span
                                        class="required-label">*</span></label>

                            <div class="col-lg-8 col-md-9 col-sm-8">
                                <input type="text" class="form-control" id="last_name" name="last_name"
                                       maxlength="50"
                                       placeholder="Nhập họ và tên đệm..." required>
                            </div>
                        </div>
                        <div class="form-group form-show-validation row mb-3">
                            <label for="first_name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Tên <span
                                    class="required-label">*</span></label>
                            <div class="col-lg-8 col-md-9 col-sm-8">
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                       maxlength="20" placeholder="Nhập tên..."
                                       required>
                            </div>
                        </div>
                        <div class="form-group form-show-validation row mb-3 ">
                            <label for="email" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Email <span
                                    class="required-label">*</span></label>

                            <div class="col-lg-8 col-md-9 col-sm-8">
                                <input type="email" class="form-control" id="email" name="email" maxlength="50"
                                       placeholder="Nhập email...">
                            </div>
                        </div>
                        <div class="form-group form-show-validation row mb-3">
                            <label for="phone_number" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Số điện
                                thoại <span class="required-label">*</span></label>

                            <div class="col-lg-8 col-md-9 col-sm-8">
                                <input type="number" class="form-control" id="phone_number" name="phone_number"
                                       minlength="9"
                                       maxlength="10" placeholder="Nhập số điện thoại" required>
                            </div>
                        </div>
                    </div>

                    <div class="card-action">
                        <input class="btn btn-success" type="submit" value="Xác nhận" id="confirm" onclick="checkPatient()">
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>
{% else %}
<h4 class="text-center text-success" > Vui lòng <a href="/login">đăng nhập</a> để sử dụng dịch vụ!!!!!</h4>
{% endif %}
{% endblock %}